html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    overflow-x: hidden;
}


.d-row{
    display: flex;
}

.d-row-sp{
    display: flex;
    justify-content: space-around;
}

.d-row-cen{
    display: flex;
    justify-content: center;
}

.d-row-end{
    display: flex;
    justify-content: end;
}

body::-webkit-scrollbar{
    width: 8px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(85, 84, 84);
}

.main-container{
    background-color: #0c111b;
}

.home-container{
    display: block;
    width: 100%;
    background-color: #0c111b;
}

.navbar{
    position: relative;
    background-image: linear-gradient(to bottom right,#030b17,black);
    height: 85px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid red;
}

.nb-sec{
    height: 100%;
    width: 33.3%;
}

.nb-sec h1{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.nb-logo{
    height: 70px;
    width: 120px;
    margin: 3px 20px;
}

.nb-sec-ul{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nb-ul-list{
    height: 100%;
    width: 33%;
    list-style-type: none;
}

.nb-ul-link{
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: sans-serif;
    padding: 20px 0px;
    text-align: center;
    font-weight: 600;
}

.nb-ul-link:hover{
    color: white;
    text-decoration: none;
}

.dpd{
    position: relative;
}

.dpd:hover .dpd-content{
    display: block;
}

.dpd-content{
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    background-color:#0c111b;
    border-radius: 10px;
    width: 225px;
    height: 400px;
    overflow-y: scroll;
    z-index: 3;
}

.dpd-content::-webkit-scrollbar{
    width: 5px;
    background-color: black;
}

.dpd-content::-webkit-scrollbar-thumb{
    background-color: grey;
}

.ul-list{
    height: 45px;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid white;
}

.ul-link{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 12px 0px;
    cursor: pointer;
    transition: font-size 0.2s;
}

.ul-link:hover{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nb-sec input{
    background-color: transparent;
    height: 40px;
    width: 30%;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 12px;
    color: white;
    font-size: 17px;
    padding-left: 5px;
    transition: width 0.3s;
}

.search-cont{
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: black;
    color: white;
    display: none;
    height: 48vh;
    width: 100vw;
    overflow-y: scroll;
    z-index: 2;
    opacity: 0.9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-cont::-webkit-scrollbar{
    width: 5px;
    background-color: black;
}

.search-cont::-webkit-scrollbar-thumb{
    background-color: grey;
}

.search-mov-card{
    width: 200px;
    margin: 10px;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.search-mov-card:hover{
    transform: scale(1.05);
}

.search-mov-card-img{
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#search-cont-id{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dpd2{
    position: relative;
    color: white;
    height: 100%;
    display: none;
}

.dpd2:hover .dpd-content2{
    display: block;
}

.dpd-content2{
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 3;
    background-color: black;
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 1px 5px solid grey;
}

.ul-list2{
    height: 45px;
    width: 150px;
    list-style-type: none;
    border-bottom: 1px solid white;
}

.ul-link2{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    transition: font-size 0.3s,background-color 0.3s;
}

.ul-link2:hover{
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(43, 43, 43);
}

.carousel-movie{
    z-index: 1;
    height: 88vh;
    width: 100%;
}

.c-img{
    height: 88vh;
    width: 100%;
    object-fit: fill;
}

.movie-type{
    margin-top: 80px;
}

.type-heading{
    color: white;
    padding: 20px;
}

.movie-container{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 15px;
    padding: 10px;
}

.movie-container::-webkit-scrollbar{
    height: 5px;
    background-color: black;
}

.movie-container::-webkit-scrollbar-thumb{
    background-color: grey;
}

.movie-type-img{
    height: 240px;
    width: 210px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.4s,box-shadow 0.4s;
}

.movie-type-img:hover{
    transform: scale(1.1);
    box-shadow: 0px 1px 5px grey;
}

.mid-movie-img1{
    width: 90%;
    height: 450px;
}

.mid-movie-img2{
    width: 350px;
    height: 450px;
    margin: 20px;
}

.footer{
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding: 50px;
    color: white;
    box-shadow: 2px 1px 10px rgb(63, 62, 62);
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.video-container{
    background-color: #030b17;
    color: white;
    display: none;
    padding: 25px 15px;
}

.video-container iframe{
    height: 100vh;
    width: 100%;
    margin: 0px;
}

#mov-title{
    font-size: 30px;
    border-bottom: 1px solid white;
    padding: 10px 0px;
}

.about-container{
    background-color: #030b17;
    color: white;
    display: none;
    padding: 25px 15px;
}

.about-flex{
    display: flex;
}

.about-img{
    height: 550px;
    width: 50%;
}

.about-content{
    padding: 45px;
    width: 45%;
}

@media screen and (max-width : 1000px){
    .nb-logo{
        height: 70px;
        width: 90px;
        margin: 3px 0px;
    }
    .nb-sec2{
        display: none;
    }
    .nb-sec3{
        display: none;
    }
    .dpd2{
        display: block;
    }
    .footer-div1{
        display: none;
    }
}

@media screen and (max-width : 650px){
    .footer{
        padding: 10px;
    }
    .navbar-heading{
        display: none;
    }
    .carousel-movie{
        height: 45vh;
    }
    .c-img{
        height: 50vh;
    }
    .mid-movie-img1{
        height: 350px;
    }
    .mid-movie-img2{
        height: 350px;
        width: 85%;
    }
    .about-container{
        padding: 5px;
    }
    .about-flex{
        flex-direction: column;
    }
    .about-img{
        width: 100%;
        height: 400px;
    }
    .about-content{
        width: 100%;
    }
    .type-heading{
        padding: 25px 30px 5px;
        font-size: 25px;
        margin: 0px;
    }
    .movie-container{
        padding: 5px;
    }
    .movie-type{
        margin-top: 40px;
    }
    .footer-heading{
        font-size: 25px;
    }
    .video-container iframe{
        height: 50vh;
    }
}